<section id="about">
<div class="wrapper">
	<div class="body">
	<%= render 'layouts/mobile_menu' %>
	<h2>About</h2>
	<article class="article">
		<p>
			Hi, I'm Catalin! This is a website I designed in my spare time. It's not intend for any comercial or business purpose. It is a project fueled by passion for the novel series. I do not possess any rights over the content I displayed. If there is any problem or questions about this site please don't hesitate to get in touch. My email is <a href="mailto:catalin94v@gmail.com">catalin94v@gmail.com</a>. I'm also looking for other projects to work on.
		</p>
	</article>
</div class="body">
</div>
</section>
