<div class="wrapper">
	<%= render 'layouts/mobile_menu' %>
	
	<h1>The boy who lived</h1>

	<div class="harry_bio">
		<br>
		<h3>Harry James Potter</h3>
		<p>
			is the title character of J. K. Rowling's Harry Potter series.
			Throughout the series, Harry is described as having his father's perpetually untidy black hair, his mother's bright green eyes, and a lightning bolt-shaped scar on his forehead. He is further described as "small and skinny for his age" with "a thin face" and "knobbly knees", and he wears round eyeglasses. In the first book, his scar is described as "the only thing Harry liked about his own appearance". When asked about the meaning behind Harry's lightning bolt scar, Rowling said, "I wanted him to be physically marked by what he has been through. Rowling has also stated that Harry inherited his parents' good looks. In the later part of the series Harry grows taller, and by the seventh book is said to be 'almost' the height of his father, and 'tall' by other characters.
			<br/>
			<%= image_tag ('harry_bio2.jpg') %>
		</p>
	</div>

	<article class="article">
		<h3>Personality</h3>
		<p>
			ccording to Rowling, Harry is strongly guided by his own conscience, and has a keen feeling of what is right and wrong. Having "very limited access to truly caring adults", Rowling said, Harry "is forced to make his own decisions from an early age on." He "does make mistakes", she conceded, but in the end, he does what his conscience tells him to do. According to Rowling, one of Harry's pivotal scenes came in the fourth book when he protects his dead schoolmate Cedric Diggory's body from Voldemort, because it shows he is brave and selfless.
		</p>
		<h3>Magical abilities and skills</h3>
		<p>
			Throughout the series, Harry Potter is described as a gifted wizard apprentice. He has a particular talent for flying, which manifests itself in Harry Potter and the Philosopher’s Stone the first time he tries it, and gets him a place on a Quidditch team one year before the normal minimum joining age. He captains it in his sixth year. In his fourth year (Harry Potter and the Goblet of Fire), Harry is able to confront a dragon on his broomstick.
			<%= image_tag ('harry_bio.jpg') %>
		</p>
		<p>
			Harry is also gifted in Defence Against the Dark Arts, in which he becomes proficient due to his repeated encounters with Voldemort and various monsters. In his third year, Harry becomes able to cast the very advanced Patronus Charm, and by his fifth year he has become so talented at the subject that he is able to teach his fellow students in Dumbledore's Army, some even older than him how to defend themselves against Dark Magic.
		</p>
		<p>
			Harry also has the unusual ability to speak and understand "Parseltongue", a language associated with Dark Magic. This, it transpires is because he harbours a piece of Voldemort's soul, and he loses the ability after Voldemort's death at the end of The Deathly Hallows. <a href="http://en.wikipedia.org/wiki/Harry_Potter_%28character%29">For more information check Wikipedia.</a>

			<%= image_tag ('harry_bio3.jpg') %>
		</p>
	</article>
		
	
</div>