<div class="wrapper">
	<%= render 'layouts/mobile_menu' %>
	
	<h1>Ron the Sidekick</h1>
	<div class="harry_bio">
		<br>
		<h3>Ronald Bilius "Ron" Weasley</h3>
		<p>
			Ronald Bilius "Ron" Weasley is a fictional character in J. K. Rowling's Harry Potter series. His first appearance was in the first book of the series, Harry Potter and the Philosopher's Stone as the best friend of Harry Potter and Hermione Granger. He is a member of the Weasley family, a pure blood family, who reside in "The Burrow" outside Ottery St. Catchpole. Along with Harry and Hermione, he is a member of the Gryffindor house. Ron is present in most of the action throughout the series.
			<%= image_tag ('ron1.jpg') %>
		</p>
	</div>
	<article class="article">
		<h3>Personality</h3>
		<p>
			Rowling in an interview described Ron as very funny but insensitive and immature, "There's a lot of immaturity about Ron, and that's where a lot of the humor comes from." As his first exercise with the actors who portray the central trio, Alfonso Cuarón, who directed the third film in the series, Prizoner of Azkaban, assigned them to write an autobiographical essay about their character, written in the first person, spanning birth to the discovery of the magical world, and including the character's emotional experience. Of Rupert Grint's essay, Cuarón recalls, "Rupert didn't deliver the essay. When I questioned why he didn't do it, he said, 'I'm Ron; Ron wouldn't do it.' So I said, 'Okay, you do understand your character.' Commenting on Ron's character development in the final book, Rowling explained that "Ron is the most immature of the three main characters, but in part seven he grows up. He was never strong footed, people see him mostly as Harry's friend; his mother had actually wanted a girl and in the last book he finally has to acknowledge his weaknesses. But it's exactly that which makes Ron a man."
		</p>
		<h3>Magical abilities and skills</h3>
		<p>
			Ron is given Charlie Weasley's old, chipped wand, which is made out of ash and has a unicorn hair sticking out of the end. He holds the wand together with Spellotape after nearly breaking it in half at the start of Chamber of Secrets, but it malfunctions dreadfully after this, backfiring spells, making strange noises, and emitting objects from the wrong end. Ron's new wand is fourteen inches, willow and unicorn hair, which he procures before the start of his third year at Hogwarts. He also shows signs of exceptional tactical ability, as evidenced by his skill at Wizard's Chess (which is played exactly like normal chess but with living pieces).
			<%= image_tag ('ron2.jpg') %>
			<br>
			 Ron's talents are rarely shown, but he, like the other DA members, survives a violent encounter with adult Death Eaters in Order of the Phoenix, and it is implied that during the Death Eater assault in Half-Blood Prince he held his own quite well because he was being helped by Felix Felicis, the good luck potion. In Deathly Hallows, Ron loses his original wand, and takes Peter Pettigrew's wand for his own. Following this, Ron begins to demonstrate more aptitude and general knowledge, along with a sudden spurt in maturity after a terrible row with Harry. For a while, he effectively leads the trio in the hunt for the Horcruxes while Harry suffers a major depression.
			</p>
			<p>
			Rowling has stated that Ron's Patronus Charm takes the form of a Jack Russell Terrier, "a really sentimental choice" as Rowling herself owns a Jack Russell. <a href="http://en.wikipedia.org/wiki/Ron_Weasley">For more information check Wikipedia.</a>
			<%= image_tag ('ron3.jpg') %>
			</p>
	</article>
</div>