<div class="wrapper">
	<%= render 'layouts/mobile_menu' %>
	
	<h1>Lord Voldemort</h1>
	<div class="harry_bio">
		<br>
		<h3>Voldemort, born Tom Marvolo Riddle</h3>
		<p>
			is a fictional character in J. K. Rowling's Harry Potter series. Voldemort first appeared in Harry Potter and the Philosopher's Stone, which was released in 1997. Voldemort appeared either in person or in flashbacks in each book and film adaptation in the series, except the third, Harry Potter and the Prisoner of Azkaban, where he is mentioned.
			<br><br>
			According to an interview with Rowling, "Voldemort" is pronounced with a silent 't' at the end, as in the French word "mort", meaning "death". This was the pronunciation used by Jim Dale in the first four U.S. audiobooks; however, after the release of the film version of Harry Potter and the Philosopher's Stone, in which the characters who dared refer to him by name pronounced it with the "t", Dale altered his pronunciation to that in the films.
			<%= image_tag ('voldemort2.jpg') %>
		</p>
	</div>
	<article class="article">
		<h3>Personality</h3>
		<p>
			Rowling described Voldemort as "the most evil wizard for hundreds and hundreds of years". She elaborated that he is a "raging psychopath, devoid of the normal human responses to other people's suffering", and whose only ambition in life is to become all-powerful and immortal. He is also a sadist who hurts and murders people – especially Muggles – just for pleasure. He has no conscience, feels no remorse, and does not recognise the worth and humanity of anybody except himself. He feels no need for human companionship or friendship, and cannot comprehend love or affection for another. He believes he is superior to everyone around him, to the point that he frequently refers to himself in the third-person as "Lord Voldemort." Rowling also stated that Voldemort is "incredibly power hungry. Racist, really", and that if Voldemort were to look into the Mirror of Erised, he would see "Himself, all-powerful and eternal. That's what he wants."
		</p>
		<p>
			<%= image_tag ('voldemort1.jpg') %>
			Like most archetypical villains, Voldemort's arrogance leads to his downfall. He also suffers from a pathological fear of death, which he regards as a shameful and ignominious human weakness. According to Rowling, his Boggart would be his own corpse. Rowling also said that the difference between Harry and Voldemort is that Harry accepts mortality, and thus Harry is in the end stronger than his nemesis.
		</p>
		<h3>Magical abilities and skills</h3>
		<p>
			Throughout the series, Rowling establishes Voldemort as an extremely powerful, intelligent, and ruthless Dark Wizard. He is known as one of the greatest <a href="http://en.wikipedia.org/wiki/Magic_in_Harry_Potter#Legilimency_and_Occlumency">Legilimens</a> in the world and a highly accomplished <a href="http://en.wikipedia.org/wiki/Magic_in_Harry_Potter#Legilimency_and_Occlumency">Occlumens;</a> he can read minds and shield his own from penetration. Besides Dumbledore he is also the only wizard ever known to be able to apparate silently. Voldemort was also said to fear one wizard alone, Albus Dumbledore.
		</p>
		<p>
			In the final book, Voldemort flies unsupported, something that amazes those who see it. Voldemort, like his ancestral family, the Gaunts, is a Parselmouth, meaning he can converse with serpents. This skill was inherited from his ancestor, Salazar Slytherin. The Gaunt family speak Parseltongue among themselves.
			<%= image_tag ('voldemort3.jpg') %>
			 When Voldemort attempts to kill Harry his ability to speak Parseltongue is passed to Harry through the small bit of the former's soul. After that bit of soul is destroyed, Harry loses this ability. In a flashback in the sixth novel, Voldemort boasts to Dumbledore during a job interview that he has "pushed the boundaries of magic farther than they had ever before". Dumbledore states that Voldemort's knowledge of magic is more extensive than any wizard alive and that even Dumbledore's most powerful protective spells and charms would likely be insufficient if Voldemort returned to full power. Dumbledore also said that Voldemort was probably the most brilliant student Hogwarts has ever seen. Although Voldemort remains highly accomplished and prodigious in skill, he is enormously lacking and highly inept in the most powerful magic, love. This inability to love and trust others proves to be Voldemort's greatest weakness in the series. Voldemort initially voices scepticism that his own magic might not be the most powerful, but upon returning to power, he admits to his Death Eaters that he had overlooked the ancient and powerful magic which Lily Potter invoked and that would protect Harry from harm. <a href="http://en.wikipedia.org/wiki/Lord_Voldemort">For more information check Wikipedia.</a>
		</p>
	</article>
</div>