<div class="footer">
		<p>This website is not intended to generate any revenue. It is just a project done in spare time that is fueled by passion. My name is Catalin, I'm a Junior Web Developer looking for new projects to work on. You can find me at</p>
		<br>

</div> 