<div class="header">
	<%= link_to image_tag("logo.jpg", id: "logo"), root_path %>
	<nav>
		<ul>
			<li>
				<div class="icon-menu">
					<a>MENU</a>
				</div>
			</li>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
		</ul>
	</nav>
</div>